body {
    font-family: "Arial", sans-serif;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
.index {
    background-color: burlywood;
    text-align: center;
    text-decoration: none;
}

.inner {
    background-color: bisque;
    height: 80%;
    width: 500px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.miso {
    background-color: tan;
}

.burger {
    background-color: tan;
}

.pie {
    background-color: tan;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-size: 35px;
    list-style-type: none;
    width: 250px;
    padding: 10px;
    margin: 100px auto;
}